* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(243, 141, 67, 0.733);
}

a {
  text-decoration: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background-color: rgb(235, 235, 235);
}

.nav-link {
  margin: 0.5em;
  border: 0.2em solid rgba(90, 39, 3, 0.733);
  padding: 0.2em;
  font-size: 1.2em;
  transition: ease-out 1s all;
}

.nav-link:hover {
  background-color: rgba(90, 39, 3, 0.733);
  color: white;
}
